* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face
{
font-family: duru-sans;
src: url(../font/Duru-Sans/DuruSans-Regular.ttf);
}
@font-face
{
font-family: source-sans-pro;
src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face
{
font-family: nobile;
src: url(../fonts/Nobile/Nobile-Regular.ttf);
}

.container {
	max-width: 1020px;
	margin: 0 auto;
	padding: 0;
}

body {
	background-color: #1f78dc;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

header {
	background-image: url('../images/header-background.jpg'); 
	width: 100%;
	height: 127px;
	overflow: hidden;
}

#logo {
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	width: 271px;
	height: 78px;
	margin-top: 19px;
	float: left;
	margin-left: 40px;
}

ul#nav {
	float: right;
	margin-top: 73px;
	margin-right: 247px;
	text-decoration: none;
}

ul#nav li {
	display: inline-block;
	margin-left: 37px;
}

ul#nav li a {
	text-decoration: none;
	font-size: 24px;
	color: #fff;
}

/* Main Content goes under */

#contact-box {
	margin-bottom: 86px;
	
	height: 539px;
	background-color: #fff;
	margin-left: 40px;
	margin-right: 40px;
}

#content h2 {
	color: #fff;
	font-family: duru-sans;
	margin-top: 56px;
	margin-bottom: 32px;
	margin-left: 40px;
}

form {
	padding-top: 39px;
	text-align: center;
}

form .col1	{
	width: 40%;
	display: inline-block;
	padding: 0 10px 0 0;
}

form .col2	{
	width: 40%;
	display: inline-block;
	padding: 0 0 0 10px;
}

label {
	display: block;
	text-align: left;
	padding:0 0 10px 0;
}

input[type="name"], input[type="email"] {
	padding: 10px;
	width: 100%;
}

.button {
	background-image: url('../images/.png');
}

form .message {
	width: 92.1%;
	padding-left: 10.19%;
}

label {
	margin-top: 36px;
	
}

input[type="messages"] {
	padding: 0 0 229px;
	width: 100%;
}

/* Footer goes under */

footer {
	clear: both; /*or try overflow: auto;*/
	background-color: #fff;
	height: 68px;
}

#social-media {
	text-align: center;
	padding-top: 15px;

}

#social-media .linkedin {
	padding-left: 40px;
}

#social-media .github {
	padding-left: 40px;
}

.copyright {
	text-align: center;
}

@media (max-width: 400px) {
	#contact-box {
	
	margin-left: 10px;
	margin-right: 10px;
}

#content h2 {
	margin-top: 56px;
	margin-bottom: 32px;
	margin-left: 10px;
}

form {
	padding-top: 39px;
	
}

form .col1	{
	width: 40%;
	display: inline-block;
	padding: 0 10px 0 0;
}

form .col2	{
	
	display: inline-block;
	padding: 0 0 0 10px;
}
	



